body {
  position: relative;
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
  margin-bottom: 0px;
}

.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}
#section1 {min-height:500px;color: #fff;}
#section2 {min-height:500px;color: #fff;}
#section3 {min-height:500px;color: #fff;}

.no-padd {
  padding: 0;
}

.main-bg {
  overflow: auto;
  height: 100vh;
  background-image: url(../images/main-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /*  padding-top: 56.333333%;*/
  filter: contrast(120%);
}

.purple-bg {
  background-color: #ff00ff;
}

.content-block {
  background-color: #fff;
  box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.4);
  color: #000;
}

.main-bg > .first-content-wrapper {
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  color: #fff;
}

.content-paddings {
  padding: 50px 20px;
}

.tusovka-block {
  overflow: auto;
  display: table;
  margin: 0 10%;
  width: 80%;
}

.tusovka-block > img {
  float: right;
  display: inline;
  max-height: 100px;
  max-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2)
}

.tusovka-block > p {
  width: 100%;
  padding: 0 20px;
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
}

`.tusovka-left {
  float: left;
}
.tusovka-left > p {
  text-align: left;
}
.tusovka-right {
  float: right;
}
.tusovka-right > p {
  text-align: right;
}

.padding-b {
  padding-bottom: 20px;
}

.btn {
  transition-duration: .2s;
}

.each-program-block {
  padding: 15px 30px;
}

.picture-section2 {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center left;
  filter: grayscale(50%) contrast(110%);
  transition-duration: .2s;
}
.picture-section2:hover {
  box-shadow: 0 8px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image-p {
  color: #ffffff;
  font-size: 22px;
  margin: 0px 5px 10px;
  text-shadow: 0px 0px 9px #000;
  font-weight: 600;
  text-align: center;
}
.image-p__boss {
  width: 72px;
  float: right;
  margin-right: 4px;
  transform: rotate(-90deg);
}
.picture-section2-1 {
	background-image: url(../images/mammi2000.png);
}

.picture-section2-2 {
	background-image: url(../images/hookah.jpg);
}

.picture-section2-3 {
	background-image: url(../images/after-party.jpg);
}

.picture-section2-4 {
  background-image: url(../images/revo.jpg);
  background-position: top center;
}

.picture-section2-5 {
	background-image: url(../images/people.jpg);
}

.picture-section2-6 {
	background-image: url(../images/vomit.jpg);
}

.picture-section2-7 {
  background-image: url(../images/games.jpg)
}

.top-padd-20 {
  padding-top: 20px;
}

.bottom-padd-20 {
  padding-bottom: 20px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.6);
}

.footer-paddings {
  padding: 50px 20px 10px;
}

a.footer-link {
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
  transition-duration: 0.2s;
}

a.footer-link:hover {
  text-decoration: none;
  color: #fff
}

a.footer-link > i {
  font-size: 15px;
}

.first-footer-row {
  margin-bottom: 20px;
}

.creators {
  margin: 0 0 5px;
}

.replies {
  padding-top: 100px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.replies-block > img {
  display: block;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.slick-arrow:before {
  color: #ff00ff;
}

.align-left {
  float:left;
}
.align-right {
  float:right;
}
.slide-in {
  opacity:0;
  transition:all .5s;
}
.align-left.slide-in {
  transform:translateX(-30%) scale(0.95);
}
.align-right.slide-in {
  transform:translateX(30%) scale(0.95);
}
.slide-in.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}
