body {
  position: relative; 
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
  margin-bottom: 0px;
}

.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}
#section1 {min-height:500px;color: #fff;}
#section2 {min-height:500px;color: #fff;}
#section3 {min-height:500px;color: #fff;}

.no-padd {
  padding: 0;
}

.main-bg {
  overflow: auto;
  height: 100vh;
  background-image: url(../images/main-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /*  padding-top: 56.333333%;*/
  filter: contrast(120%);
}

.purple-bg {
  background-color: #ff00ff;
}

.content-block {
  background-color: #fff;
  box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.4);
  color: #000;
}

.main-bg > .first-content-wrapper {
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  color: #fff;
}

.content-paddings {
  padding: 50px 20px;
}

.tusovka-block {
  overflow: auto;
  display: table;
  margin: 0 10%;
  width: 80%;
}

.tusovka-block > img {
  float: right;
  display: inline;
  max-height: 100px;
  max-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2)
}

.tusovka-block > p {
  width: 100%;
  padding: 0 20px;
  display: table-cell; 
  vertical-align: middle; 
  font-size: 22px;
}

.tusovka-left {
  float: left;
}
.tusovka-left > p {
  text-align: left;
}
.tusovka-right {
  float: right;
}
.tusovka-right > p {
  text-align: right;
}

.padding-b {
  padding-bottom: 20px;
}

.btn {
  transition-duration: .2s;
}