body {
  position: relative; 
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
  margin-bottom: 0px;
}

.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}
#section1 {height:500px;color: #fff;}
#section2 {height:500px;color: #fff;}
#section3 {height:500px;color: #fff;}

.no-padd {
  padding: 0;
}

.main-bg {
  overflow: auto;
  height: 100vh;
  background-image: url(../images/main-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /*  padding-top: 56.333333%;*/
  /* maybe it needs some blur effect but now it's 0 */
  filter: blur(0px);
}

.purple-bg {
  background-color: #ff00ff;
}

.content-block {
  background-color: #fff;
  box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.4);
  color: #000;
}

.main-bg > .first-content-wrapper {
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  color: #fff;
}

.content-paddings {
  padding: 50px 20px;
}