.navbar {
  background-color: #db00db;
  border-radius: 0;
  border: none;
}

.navbar-header > a {
  transition-duration: 0.1s;
  color: #fff;
}
.navbar-header > a:hover {
  color: #ffb0ff;
}

ul.navbar-nav > li > a {
  transition-duration: .1s;
  color: #fff;
}
ul.navbar-nav > li > a:hover {
  color: #fff;
  background-color: #7b037b;
}
ul.navbar-nav > li.active {
  background-color: #9b009b;
}
button.navbar-toggle {
  background-color: rgba(0, 0, 0, 0.2);
}

.fa-bars {
  background-color: #fcfcfc;
}
